<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <header>
    <ul class="navigation-bar">
      <li *ngIf="!isLoggedIn()" routerLink="/registration">
        Registration page
      </li>
      <li *ngIf="!isLoggedIn()" routerLink="/login-pass">Login-pass page</li>
      <li *ngIf="!isLoggedIn()" routerLink="/login-email">Login-email page</li>
      <li *ngIf="isLoggedIn()" (click)="logout()">Logout</li>
    </ul>
  </header>
  <body>
    <router-outlet></router-outlet>
  </body>
</html>
