<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main-container">
      <div class="registration-form">
        <h1>Welcome to your Profile</h1>
        <form (ngSubmit)="submitForm(form)" #form="ngForm">
          <input
            type="text"
            name="username"
            [(ngModel)]="admin.username"
            [disabled]="!editMode"
            required
            placeholder="Enter your Username"
          />
          <input
            class="aba"
            type="text"
            placeholder="email"
            name="email"
            [(ngModel)]="admin.email"
            [disabled]="!editMode"
            required
          />
          <input
            type="text"
            placeholder="Password"
            name="password"
            required
            [(ngModel)]="admin.password"
          />
          <input
            type="text"
            placeholder="address"
            name="address"
            [(ngModel)]="admin.address"
            [disabled]="!editMode"
            required
          />

          <button
            class="main-button"
            *ngIf="!editMode"
            type="button"
            (click)="enableEdit()"
          >
            Edit
          </button>

          <button class="main-button" *ngIf="editMode" type="submit">
            Confirm
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
