<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main-container">
      <div class="registration-form">
        <h1>Please Fill in the required Information</h1>
        <form #certificateForm="ngForm" (ngSubmit)="onSubmit()">
          <label for="commonNameSubject">Common Name Subject:</label>
          <input type="text" id="commonNameSubject" name="commonNameSubject" [(ngModel)]="createCertificateDto.commonNameSubject" required>
        
          <label for="nameSubject">Name Subject:</label>
          <input type="text" id="nameSubject" name="nameSubject" [(ngModel)]="createCertificateDto.nameSubject" required>
        
          <label for="surnameSubject">Surname Subject:</label>
          <input type="text" id="surnameSubject" name="surnameSubject" [(ngModel)]="createCertificateDto.surnameSubject" required>
        
          <label for="usernameSubject">Username Subject:</label>
          <input type="text" id="usernameSubject" name="usernameSubject" [(ngModel)]="createCertificateDto.usernameSubject" required>
        
          <label for="countrySubject">Country Subject:</label>
          <input type="text" id="countrySubject" name="countrySubject" [(ngModel)]="createCertificateDto.countrySubject" required>
        
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="startDate" [(ngModel)]="createCertificateDto.startDate" required>
        
          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" name="endDate" [(ngModel)]="createCertificateDto.endDate" required>
        
          <label for="authoritySubject">Authority Subject:</label>
          <select id="authoritySubject" name="authoritySubject" [(ngModel)]="createCertificateDto.authoritySubject" required>
            <option  [disabled]="!isAdmin" [value]="CertificateType.ROOT">Root</option>
            <option [value]="CertificateType.CA">CA</option>
            <option [value]="CertificateType.END_ENTITY">EE</option>
        </select>
        
          <label for="issuerSerialNumber">Issuer Serial Number:</label>
          <select id="issuerSerialNumber" name="issuerSerialNumber" [(ngModel)]="createCertificateDto.issuerSerialNumber" required>
            <option *ngFor="let certificate of certificates" [value]="certificate.serialNumberSubject">{{certificate.serialNumberSubject}}, {{certificate.commonNameSubject}},{{certificate.countrySubject}} {{certificate.authoritySubject }}</option>
          </select>
        
          <label for="ownerUsername">Owner Username:</label>
          <select id="ownerUsername" name="ownerUsername" [(ngModel)]="createCertificateDto.ownerUsername" required>
            <option *ngFor="let user of users" [value]="user.username">{{user.id}}, {{user.username}}</option>
          </select>
        
          <button type="submit" [disabled]="certificateForm.invalid">Submit</button>
        </form>
        
        
      </div>
    </main>
  </body>
</html>
