<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="main-container">
      <div class="registration-form">
        <h1>Welcome to the App</h1>
        <form (ngSubmit)="submitForm(form)" #form="ngForm">
          <input
            type="text"
            name="username"
            #username="ngModel"
            ngModel
            required
            placeholder="Enter your Username"
          />
          <input
            type="text"
            name="password"
            #password="ngModel"
            ngModel
            required
            placeholder="Password"
          />
          <button class="main-button" type="submit">Sign in</button>

          <div class="bottom-div">
            <p>
              Don't have an account?
              <button
                class="secondary-button"
                routerLink="/registration"
                type="submit"
              >
                Register
              </button>
            </p>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
