<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <style></style>
  </head>
  <body>
    <p>Click here to see the list of pending users to activate</p>
    <button routerLink="/users-activate" class="activate-button">
      Activate...
    </button>
    <p>Click here to see the list of all projects</p>
    <button routerLink="/admin-project" class="activate-button">
      See projects
    </button>
    <p>Click here to see the list of all users</p>
    <button routerLink="/admin-users" class="activate-button">See users</button>
    <p>Click to edit your information</p>
    <button routerLink="/edit-admin-profile" class="activate-button">
      Edit info
    </button>
    <p>Click to register admin</p>
    <button routerLink="/admin-reg-admin" class="activate-button">
      Register admin
    </button>
    <p>Create a project</p>
    <button routerLink="/create-project-admin" class="activate-button">
      Create
    </button>
    <p>Critical logs</p>
    <button routerLink="/critical-logs" class="activate-button">
      Critical logs
    </button>
  </body>
</html>
